---
import StatsIsland from "./StatsIsland.tsx";
---

<section class="bg-bg-elevated py-12 md:py-20" data-reveal>
  <div class="max-w-[1200px] mx-auto px-6 lg:px-8">
    <StatsIsland client:visible />
  </div>
</section>
