---
export const prerender = false;
import OSLayout from '../../../layouts/OSLayout.astro';
import OSSaludCuerpo from '../../../os/components/salud/OSSaludCuerpo';
import OSSaludNav from '../../../os/components/salud/OSSaludNav.astro';
import PageHeader from '../../../os/components/ui/PageHeader';
---

<OSLayout title="Cuerpo">
  <div class="os-fade-up">
    <PageHeader eyebrow="Salud · Cuerpo" title="Cuerpo" />
    <OSSaludNav activo="cuerpo" />
    <OSSaludCuerpo client:load />
  </div>
</OSLayout>
