---
export const prerender = false;
import OSLayout from '../../../layouts/OSLayout.astro';
import OSSaludEntrenamiento from '../../../os/components/salud/OSSaludEntrenamiento';
import OSSaludNav from '../../../os/components/salud/OSSaludNav.astro';
import PageHeader from '../../../os/components/ui/PageHeader';
---

<OSLayout title="Entrenamiento">
  <div class="os-fade-up">
    <PageHeader eyebrow="Salud · Entrenamiento" title="Entrenamiento" />
    <OSSaludNav activo="entrenamiento" />
    <OSSaludEntrenamiento client:load />
  </div>
</OSLayout>
